<div class = "jumbo p-5 text-center">
  <div class= "jumbo-header p-2">
      <h1 class="jumbo-heading">Diego Torrealba</h1>
      <h3>Student Journalist at the University of Texas at Austin</h3>
  </div>
</div>