{% extends "_templates/base.njk"%}

{% block page_title %}Gallery{% endblock %}

{% block content %}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 my-3">
      <div class="col">
        <p class="display-1 text-center">Gallery</p>
      </div>
      <div class="col">
        <p>This collection of photos includes photos of me during important moments of my life as well as photos I have taken myself. While photography is not my main hobby, I enjoy learning about framing techniques and being able to tell a story through a single image. That said, what I have learned through photography has influenced my work as a videographer, and I am sure I still have much to learn!</p>
      </div>
    </div>
   <div class="row pb-3">
    <div id="galleryCarousel" class="carousel slide" data-bs-ride = "carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target = "#galleryCarousel" data-bs-slide-to ="3" aria-label = "Slide 4"></button>
        <button type="button" data-bs-target = "#galleryCarousel" data-bs-slide-to ="4" aria-label = "Slide 5"></button>
      </div>
      <div class="carousel-inner">     
        {% for photo in photos.gallery %}
          <div class="carousel-item {{'active' if loop.first }}">
            <img src="img/{{ photo.image }}" class="d-block w-100 img-fluid" alt="">
            <div class="carousel-caption d-none d-md-block">
              <p>{{ photo.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
   </div>    
  </div>
{% endblock %}