footer .container-fluid {
  background-color: $rich-black;
}

#legal {
  color: white;
}

.btn {
  background-color: $oxford-link;
  color: white;
}

.btn:hover {
  background-color: $utorange;
  color: white;
}